<section class="section">
  <article class="blog-article">
    <header class="blog-article-title container">
      Guide to Picking The Right Gaming Headset
    </header>
    <div class="article-mob-img"></div>
    <div class="container">
      <div class="article-mob-wrap">
        
      </div>
      <div class="article-desk-wrap">
        <div class="article-tab-wrap">
          <div class="article-tab-img">
            <picture class="blog-article-top-img">
              <source
                srcset="
                  ./images/blog-article/blog-article-desk-1x.jpg 1x,
                  ./images/blog-article/blog-article-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/blog/headset-tab-1x.jpg 1x,
                  ./images/blog/headset-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img src="./images/blog/headset-desc-1x.jpg" alt="Product" />
            </picture>
          </div>
          <div class="article-autor-date-wrap">
            <p class="article-autor">By Ray Ian Ampoloquio</p>

            <p class="article-date">Updated on September 21, 2022</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
