// a {
//   text-decoration: none;
// }

// li {
//   list-style: none;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul, ol {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100vw;
}

// .wrapper {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

main {
// flex: 1 1 auto;
  margin: 0 auto;
// height: calc(100% - 215px - 136px);
 
}
