.section-title-line::after {
    content: '';
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 30;
    width: 100vw;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/frame-4527.svg);
    // background-image: url(../images/icon-title-line/sale-desk-bottom.svg),
    // url(../images/icon-title-line/sale-desk-top.svg);

    @include tablet {
        
        
        top: 150;
    }

    

}