.line {
  // width: 100vw;
    background-image:
      url(../images/frame-4527.svg);
      transform: scaley(0.75);
  
    background-repeat: no-repeat;
    height: 80px;
    background-position: center;
    background-size: cover;
  }

//  .sale__box {
//     position: relative;
// }
// .line-1 {
//     background-repeat: no-repeat;
//     position: absolute;

//     height: 71px;
//     width: 100vw;
//     top: -65;
//     left: -180;
//     background-image: url(../images/icon-title-line/sale-desk-bottom.svg);

//     @media (max-width: 767px) {
//     transform: scaleY(0.5);
//     }
    
//     @include tablet {
        
//         left: -50;
//         top: -70;
//         width: 100vw;
//     }
//     @include desktop {
//         top: -64;
//         left: -40;
//         height: 71px;
//         width: 100vw;
//         max-width: 100%;
//     }
// }

// .line-2 {
//     background-repeat: no-repeat;
//     position: absolute;

//     height: 71px;
//     width: 100vw;
//     top: -60;
//     left: -185;
//     background-image: url(../images/icon-title-line/sale-desk-top.svg);

//     @media (max-width: 767px) {
//     transform: scaleY(0.5);
//     }
    
//     @include tablet {
        
//         left: -50;
//         top: -63;
//     }
//     @include desktop {
//         top: -55;
//         left: -40;
//         max-width: 100%;
//     }
// }
