$accent-color: #86e543;
$main-bgcolor: #01383a;
$header-boxshadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
  0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
$text-color: #ffffff;
$text-secondary-color: #000000;
$hover-icon-color: rgba(134, 229, 67, 0.5);
$button-boxshadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
  0px 4px 10px rgba(255, 255, 255, 0.1);
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$footer-bgcolor: #001414;
$secondary-text-color: #8D9289;