/* ------------------Top-blog-article----------------- */
// .blog-article-container {
//     padding-top: 40px;
//     @include desktop {  
//     padding-top: 112px;
// }
// }

.blog-article-title {
   
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    color: #FFFFFF;
    max-width: 288px;
    margin-bottom: 31px;
    @include tablet {
        margin-bottom: 72px;
    max-width: 688px;
    font-size: 56px;
    line-height: 1;
    }
@include desktop {
    font-size: 56px;
    line-height: 1;   
    margin-bottom: 59px;
    text-align: center;
    max-width: 1196px; 
}
}

.blog-article-cover-top {
@include desktop {
    display: flex;
    gap: 120px;
    align-items: flex-end;
    }
}
.blog-article-title-top {
    @media screen and (min-width:768px) and (max-width:1280px){
        display: none;
    }
    gap: 8px;
    margin-top: 20px;
    @include desktop {
    display: flex;
    gap: 96px;
    margin-bottom: 24px;
    margin-top: 0;
    }
}

.blog-article-title-top-first {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 8px;
    @include desktop {
    font-size: 24px;
    color: #86E543;
    margin-bottom: 0;
    }
}

.blog-article-title-top-second {
    font-weight: 600;
    color: #8D9289;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 8px;
    @include desktop {
    font-size: 24px;
    margin-bottom: 0;
    }
}

.blog-article-top-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
    gap: 24px; 
    @include desktop {
    max-width: 690px;
    max-height: 336px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    }
}
.blog-article-top-paragraph {
margin-bottom: 24px;
@include desktop {
    margin-bottom: 0;
}
@include tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
        color: #FFFFFF;
}    
}
// .blog-article-cover-top{
// @include mobile {
//     margin-bottom: 20px;
// }
// }
.blog-article-cover-top {
    @include desktop {
    display: flex;
    // gap: 121px;
    justify-content: center;
    }
}

/* ------blog-article-middle----------- */
.blog-article-middle-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
     color: #FFFFFF;
    @include desktop {
    margin-top: 48px;
    font-size: 24px;
    line-height: 1.16;
    color: #86E543;
    max-width: 600px;
    }
    @include tablet {
            font-weight: 400;
            font-size: 24px;
            line-height: 1.16;
            color: #86E543;
        }
}

.blog-article-middle-list {
    width: 100%;
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
    @include tablet {
    padding-left: 40px;

        font-weight: 400;
        font-size: 24px;
        line-height: 1.16;
        color: #86E543;
        margin-bottom: 24px;
            }
    @include desktop {

    font-size: 24px;
    line-height: 1.16;
    color: #86E543;
    // margin-left: 30px;
    }
    // @include tablet {
    // font-weight: 400;
    // font-size: 24px;
    // line-height: 1.16;
    // color: #86E543;
    // margin-bottom: 24px;
    //     }
}

/* ------blog-article-bottom----------- */
// .blog-article-container-bottom {
//     padding-bottom: 48px;
//     @include desktop {
//         padding-bottom: 120px;
//     }
// }

.blog-article-bottom-text {
   display: block;
width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
    // max-width: 288px;
    @include desktop {
    font-size: 24px;
    line-height: 1.16;
    margin-top: 24px;
    // max-width: 1200px;
    }
    @include tablet {
font-weight: 400;
font-size: 24px;
line-height: 1.16;
color: #FFFFFF;
// max-width: 688px;
    }
}

.blog-article-bottom-paragraph{
        &:not(:last-child){
        margin-bottom: 24px;
    }

    
    
}
// ---------------TAB--------------
.blog-article-tab-cover-top{
    @include tablet {
        display: flex;
        align-items: flex-end;
        margin-bottom: 16px;
    }
}
.blog-article-tab-title-top {
    @media screen and (max-width:768px){
display: none;
    }
        @include desktop {
            display: none;
        }
    margin-left: 40px;

}
.blog-article-tab-title-top-first {
    margin-bottom: 32px;
font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #86E543;
    max-width: 248px;
}
.blog-article-tab-title-top-second{
font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #8D9289;
    max-width: 248px;
}