.blog__container-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.blog__container-tab {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.blog__container-tab {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.blog__container-desc {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.line-1 {
  background-repeat: no-repeat;
  position: absolute;

  height: 71px;
  width: 200vw;
  top: -65;
  left: -180;
  background-image: url(../images/icon-title-line/blog-deck-top.svg);

  @media (max-width: 767px) {
    transform: scaleY(0.5);
  }

  @include tablet {

    left: -50;
    top: -70;
    width: 200vw;
  }

  @include desktop {
    top: -64;
    left: -40;
    height: 71px;
    width: 100vw;
  }
}

.line-2 {
  background-repeat: no-repeat;
  position: absolute;

  height: 71px;
  width: 200vw;
  top: -60;
  left: -185;
  background-image: url(../images/icon-title-line/blog-deck-bottom.svg);

  @media (max-width: 767px) {
    transform: scaleY(0.5);
  }

  @include tablet {

    left: -50;
    top: -63;
  }

  @include desktop {
    top: -55;
    left: -40;
  }
}

.blog__article-mob {
  margin-bottom: 24px;
}

.blog__container-desc,
.blog__container-tab {
  margin-bottom: 40px;
}

.blog__img-mob-headset {
  margin-bottom: 8px;
  background-image:
    url(/src/images/blog/headset-mob-1x.jpg);

  background-repeat: no-repeat;
  height: 180px;
  background-position: center;
  background-size: cover;
}

.blog__img-mob-monitor {
  margin-bottom: 8px;
  background-image:
    url(/src/images/blog/monitor-mob-1x.jpg);

  background-repeat: no-repeat;
  height: 180px;
  background-position: center;
  background-size: cover;
}

.blog__img-mob-mouse {
  margin-bottom: 8px;
  background-image:
    url(/src/images/blog/mouse-mob-1x.jpg);

  background-repeat: no-repeat;
  height: 180px;
  background-position: center;
  background-size: cover;
}

.blog-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #fff;
  margin-bottom: 31px;
  margin-top: 40px;
}

.blog-title-tab {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.17;
    margin-left: 59px;
    margin-bottom: 67px;
    margin-top: 120px;
  }

.blog-title-desc {
  font-size: 56px;
  margin-bottom: 75px;
  margin-top: 120px;
  margin-left: 102px;
} 

.blog__photo-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #fff;
  margin-bottom: 16px;

  max-width: 692px;
}

.blog__photo-title-tab,
.blog__photo-title-desc {
    font-size: 56px;
    line-height: 1;
}

.blog__photo-title-desc {
  margin-bottom: 52px;
}

.blog__photo-title-monitor {
  margin-bottom: 24px;
}

.blog__img-tab {
  display: flex;
  justify-content: space-between;
}

.blog__text-text-tab {
  margin-top: auto;
}

.blog-photo {
    margin-bottom: 8px;
    border-radius: 12px;
}

.blog__text-name {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.blog__text-name-mob {
  margin-bottom: 8px;
}

.blog__text-name-tab {
  font-size: 24px;
  margin-bottom: 32px;
  max-width: 132px;
}

.blog__text-name-desc {
  max-width: 249px;
  font-size: 24px;
}

.blog__text-date {
  color: #8D9289;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.blog__text-date-mob {
  margin-bottom: 16px;
}

.blog__text-date-tab {
  font-size: 24px;
  margin-bottom: 16px;
  max-width: 252px;
}

.blog__text-date-desc {
  font-size: 24px;
}

.blog__text-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  color: #fff;
  margin-bottom: 8px;
}

.blog__text-text-tab,
.blog__text-text-desc {
  font-size: 24px;
  line-height: 1.16;
}

.blog__text-text-desc {
  max-width: 693px;
}

.blog__link-container {
  text-align: end;
}


.blog__text-link {
  color: #86E543;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
}

.blog__text-link-tab,
.blog__text-link-desc {
  font-size: 24px;
}

.blog__photo-desc {
  display: flex;
  justify-content: space-between;
}

.blog__text-text-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.blog__svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  margin-bottom: 40px;
}

.blog__svg {
  margin-right: 16px;
}

.blog__svg-last {
  margin-right: 0;
}