// .page {
//   font-family: 'Roboto', sans-serif;
//   background-image: url(../../../images/blog/);
//   margin-right: auto;
//   margin-left: auto;
//   min-width: 320px;
//   max-width: 767px;

//   @media screen and (min-width: 768px) {
//     background-image: url(../imges/bg-tab-1x.jpg);
//     margin-right: auto;
//     margin-left: auto;
//     min-width: 768px;
//     max-width: 1199px;
//   }

//   @media screen and (min-width: 1280px) {
//     background-image: url(../imges/bg-desc-1x.jpg);
//     margin-right: auto;
//     margin-left: auto;
//     min-width: 1280px;
//     max-width: 1600px;
//   }
// }

// .link {
//   text-decoration: none;
// }

// p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
// }

// ul,
// ol {
//   margin: 0;
//   padding-left: 0;
//   list-style: none;
// }

// button {
//   cursor: pointer;
//   border: none;
// }

// address {
//   font-style: normal;
// }

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;

// }

// a {
//   text-decoration: none;
// }

// .container {
//   width: 100%;
//   margin: 0 auto;

//   @media screen and (min-width: 320px) {
//     width: 288px;
//   }

//   @media screen and (min-width: 480px) {
//     width: 448px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 688px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 1200px;
//   }
// }

.blog-container {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

// .blog-content {
//     @media screen and (min-width: 1280px) {
//         display: flex;
//         justify-content: space-between;
//     }
// }

.blog-container-desc {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.blog__text-desc {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.blog-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #fff;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.17;
    margin-left: 59px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 62px;
  }
}

.blog__photo-title-desc {
  @media screen and (max-width: 1279px) {
    display: none;
  }

  font-weight: 500;
  font-size: 56px;
  line-height: 1;
  color: #fff;
  margin-bottom: 52px;

  max-width: 692px;
}

.blog__child-desc {
  margin-bottom: 24px;
}

.blog__photo-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #fff;
  margin-bottom: 16px;

  max-width: 692px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.blog__tab-content {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: space-between;
  }

  position: relative;
}

.blog-photo {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 16px;
  }
}

.blog-container__desc {
  display: flex;
  justify-content: space-between;
}

.blog-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.blog__text-name {
  color: #fff;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 32px;
    max-width: 132px;
  }
}

.blog__text-date {
  color: #8D9289;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 252px;
  }

  @media screen and (max-width: 1279px) {
    margin-bottom: 16px;
  }
}

.blog__text-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  color: #fff;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
    max-width: 688px;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 692px;
  }
}

.blog__link-container {
  text-align: end;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.blog__text-link {
  color: #86E543;
}

.blog__svg {
  margin-bottom: 48px;
}
