.blog-mob-img {
  margin-bottom: 8px;
  background-image: 
  url(/src/images/blog/headset-mob-1x.jpg);
  
background-repeat: no-repeat;
height: 180px;
background-position: center;
background-size: cover;
}

.blog-container-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.blog-container {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.blog-container-desc {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.blog__text-desc {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.blog-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #fff;
  margin-bottom: 31px;
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.17;
    margin-left: 59px;
    margin-bottom: 67px;
    margin-top: 120px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 62px;
    margin-bottom: 75px;
  }
}

.blog-title::after {
  content: '';
  background-image: url(../images/blog/headset-mob-1x.jpg);
  max-width: 320px;
  display: block;
}

.blog__photo-title-desc {
  @media screen and (max-width: 1279px) {
    display: none;
  }

  font-weight: 500;
  font-size: 56px;
  line-height: 1;
  color: #fff;
  margin-bottom: 52px;

  max-width: 692px;
}

// .blog__mob-img {
//   background-image: url(../images/blog/headset-desc-1x.jpg);
// }

.blog__child-desc {
  margin-bottom: 24px;
}

.blog__photo-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #fff;
  margin-bottom: 16px;

  max-width: 692px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.blog__tab-content {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: space-between;
  }

  position: relative;
}

.line-box {
  position: relative;
}

.blog-photo {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 12px;
  }
}

.blog-container__desc {
  display: flex;
  justify-content: space-between;
}

.blog-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.blog__text-name {
  color: #fff;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 32px;
    max-width: 132px;
  }
}

.blog__text-date {
  color: #8D9289;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 252px;
  }

  @media screen and (max-width: 1279px) {
    margin-bottom: 16px;
  }
}

.blog__tab-text {
  margin-top: auto;
}

.blog__text-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  color: #fff;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
    max-width: 688px;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 692px;
  }
}

.blog__link-container {
  text-align: end;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.blog__text-link {
  color: #86E543;
}

.blog__svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  margin-bottom: 40px;
}

.blog__svg {
  margin-right: 16px;
}

.blog__svg-last {
  margin-right: 0;
}