<div
  class="backdrop is-hidden"
  data-add-modal
  data-aos="fade-up"
  data-aos-anchor-placement="top-bottom"
>
  <div class="order-modal">
    <button type="button" class="modal__close-btn" data-add-modal-close>
      <svg class="modal__close-icon" width="31" height="31">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__text">
      Excellent choice!<br />
      Let's move on to the checkout!
    </p>
    <a href="/src/index.html">
      <button
        type="button"
        class="order-modal__btn"
        data-add-modal-close
        data-aos="flip-left"
        data-contact-modal-close
      >
        Let's go!
      </button>
    </a>
  </div>
</div>
