<section class="take-order section">
  <div class="order">
    <div class="container">
      <h2 class="order-title">Take order</h2>
      <div class="line"></div>

      <div class="order-mob-hide">
        <h2 class="order-mob-section-title">Xiberia K9 PRO PC Headset</h2>
        <div class="order-mob-container">
          <div class="order-mob-main-img">
            <picture>
              <source
                srcset="
                  ./images/take-order/img-main-order-1x.jpg 1x,
                  ./images/take-order/img-main-order-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />

              <source
                srcset="
                  ./images/take-order/img-main-mob-order-2x.jpg 2x,
                  ./images/take-order/img-main-mob-order-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />

              <img
                class="order-mob-img"
                src="./images/take-order/img-main-mob-order-1x.jpg"
                alt="product"
                width="387"
                height="346"
              />
            </picture>
          </div>
          <div class="order-mob-prices">
            <span class="order-mob-price-without-discount">65.14 USD</span>
            <span class="order-mob-price-with-discount">55.14 USD</span>
          </div>
        </div>
      </div>
      <div class="order-infiormation">
        <div class="order-main-img">
          <picture>
            <source
              srcset="
                ./images/take-order/img-main-order-1x.jpg 1x,
                ./images/take-order/img-main-order-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/take-order/img-main-mob-order-2x.jpg 2x,
                ./images/take-order/img-main-mob-order-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />

            <img
              class="order-img"
              src="./images/take-order/img-main-mob-order-1x.jpg"
              alt="product"
              width="387"
              height="346"
            />
          </picture>
        </div>
        <div class="order-top-part">
          <h2 class="order-section-title">Xiberia K9 PRO PC Headset</h2>
          <div class="order-prices">
            <span class="order-price-without-discount">65.14 USD</span>
            <span class="order-price-with-discount">55.14 USD</span>
          </div>
          <ul class="order-picture-list">
            <li class="order-picture-item">
              <picture>
                <source
                  srcset="
                    ./images/take-order/img1-order-1x.jpg 1x,
                    ./images/take-order/img1-order-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/take-order/img1-mob-order-1x.jpg 1x,
                    ./images/take-order/img1-mob-order-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  class="order-img"
                  src="./images/take-order/img1-mob-order-1x.jpg"
                  alt="product"
                  height="160"
                  width="155"
                />
              </picture>
            </li>
            <li class="order-picture-item">
              <picture>
                <source
                  srcset="
                    ./images/take-order/img2-order-1x.jpg 1x,
                    ./images/take-order/img2-order-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/take-order/img2-mob-order-1x.jpg 1x,
                    ./images/take-order/img2-mob-order-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  class="order-img"
                  src="./images/take-order/img2-mob-order-1x.jpg"
                  alt="product"
                  height="160"
                  width="155"
                />
              </picture>
            </li>
            <li class="order-picture-item">
              <picture>
                <source
                  srcset="
                    ./images/take-order/img3-order-1x.jpg 1x,
                    ./images/take-order/img3-order-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/take-order/img3-mob-order-1x.jpg 1x,
                    ./images/take-order/img3-mob-order-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  class="order-img"
                  src="./images/take-order/img3-order-2x.jpg"
                  alt="product"
                  height="160"
                  width="155"
                />
              </picture>
            </li>
            <li class="order-picture-item">
              <picture>
                <source
                  srcset="
                    ./images/take-order/img4-order-1x.jpg 1x,
                    ./images/take-order/img4-order-2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/take-order/img4-mob-order-1x.jpg 1x,
                    ./images/take-order/img4-mob-order-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  class="order-img"
                  src="./images/take-order/img4-mob-order-1x.jpg"
                  alt="product"
                  height="160"
                  width="155"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="order-forms container">
      <div class="order-form__wrap container">
        <p class="order-form-title">CONTACT US</p>
        <form class="order-form">
          <div class="flex">
            <div class="order-form-part-one">
              <div class="order-form-thumb">
                <input
                  class="order-input form-item"
                  type="text"
                  id="name"
                  name="username"
                  placeholder=" "
                  required
                />
                <label class="order-label input" for="name">Name</label>
              </div>

              <div class="order-form-thumb">
                <input
                  class="order-input form-item"
                  type="email"
                  id="mail"
                  name="mail"
                  placeholder=" "
                  required
                  pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"
                  title="Please include an '@' in the email address e.g. user@mail.com"
                  size="30"
                />
                <label class="order-label input" for="mail">Email</label>
              </div>

              <div class="order-select-wraper">
                <select class="form-item dropdown" name="color">
                  <option value="color">Color Option</option>
                  <option value="Orange">K9D Black Orange</option>
                  <option value="Gray">K9D Silver Gray</option>
                  <option value="White">K9U White Blue</option>
                </select>
              </div>
              <div class="order-select-wraper">
                <select class="form-item dropdown" name="number">
                  <option value="quantity">Quantity</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>

              <div class="order-select-wraper">
                <select class="form-item dropdown" id="payment" name="payment">
                  <option value="payment">Payment</option>
                  <option value="paypal">PayPal</option>
                  <option value="applepay">Apple Pay</option>
                </select>
              </div>
            </div>

            <div class="order-form-part-two">
              <label class="order-label" for="feedback"
                >Leave your message</label
              >
              <textarea
                class="order-text-area"
                id="feedback"
                name="feedback"
              ></textarea>
            </div>
          </div>
          <div class="order-btns">
            <button class="btn-buy" type="submit" data-order-modal-open>
              Buy it now
            </button>
            <button class="btn-add" type="submit" data-add-modal-open>
              ADD TO CART
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
