<div class="backdrop is-hidden" data-add-modal>
  <div class="order-modal animate__animated animate__tada">
    <button type="button" class="modal__close-btn" data-add-modal-close>
      <svg class="modal__close-icon" width="31" height="31">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__text">
      Excellent choice!<br />
      Let's move on to the checkout!
    </p>
    <button type="button" class="order-modal__btn">Let's go!</button>
  </div>
</div>
