<div class="backdrop is-hidden">
  <div class="add-modal animate__animated animate__tada">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-icon" width="40" height="40">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__thumb">
      <p class="modal__text">
        Thank you <br />
        for your order! <br />
        We will contact you soon!
      </p>
      <button type="button" class="add-modal__btn">Let's go!</button>
    </div>
  </div>
</div>
