<div class="backdrop is-hidden" data-order-modal>
  <div class="add-modal animate__animated animate__tada">
    <button type="button" class="modal__close-btn" data-order-modal-close>
      <svg class="modal__close-icon" width="31" height="31">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__text">
      Thank you <br />
      for your order! <br />
      We will contact you soon!
    </p>
    <a href="/src/accessories.html">
      <button type="button" class="add-modal__btn" data-order-modal-close>
      KEEP SHOPPING
    </button>
    </a>    
  </div>
</div>
