<div
  class="backdrop is-hidden"
  data-order-modal
  data-aos="fade-up"
  data-aos-anchor-placement="top-bottom"
>
  <div class="add-modal">
    <button type="button" class="modal__close-btn" data-order-modal-close>
      <svg class="modal__close-icon" width="31" height="31">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__text">
      Thank you <br />
      for your order! <br />
      We will contact you soon!
    </p>
    <a href="/src/accessories.html">
      <button
        type="button"
        class="add-modal__btn"
        data-order-modal-close
        data-aos="flip-left"
        data-contact-modal-close
      >
        KEEP SHOPPING
      </button>
    </a>
  </div>
</div>
