<section class="blog">
    <article class="blog__container-mob">
        <div class="blog__title-mob">
            <h1 class="blog-title container">Blog</h1>
            <div class="sale__box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
            <h2 class="blog__photo-title-mob blog__photo-title">
                Guide to Picking The Right Gaming Headset
            </h2>
        </div>

        <div class="blog__img-mob"></div>

        <div class="blog__text-mob">
            <p class="blog__text-name-mob blog__text-name">By Ray Ian Ampoloquio</p>
            <p class="blog__text-date-mob blog__text-date">Updated on September 21, 2022</p>
            <p class="blog__text-text">
                Learn how to choose an amazing gaming headset with this checklist of just 9 surprisingly simple steps.
                Gaming headsets offer a handy and practical solution to any and all of your gaming audio needs. But, as with any kind of ...
            </p>
            <div class="blog__link-container">
                <a href="#" class="blog__text-link blog-text">
                    Learn more
                </a>
            </div>
        </div>
    </article>


    <article class="blog__container-tab">
        <div class="blog__title-tab">
            <h1 class="blog-title">Blog</h1>
            <div class="sale__box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
        </div>
        
        <div class="blog__img-tab">

        </div>

        <div class="blog__text-tab">

        </div>
    </article>


    <article class="blog__container-desc">
        <div class="blog__title-desc">
            <h1 class="blog-title">Blog</h1>
            <div class="sale__box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
        </div>

        <div class="blog__img-desc">

        </div>

        <div class="blog__text-desc">

        </div>
    </article>
</section>