<section class="blog">
  <div class="blog-container container">
    <h2 class="blog-title">Blog</h2>
    <div class="sale__box">
      <div class="line-1"></div>
      <div class="line-2"></div>
    </div>
    <div class="blog-container__content">
      <h2 class="blog__photo-title">
        Guide to Picking The Right Gaming Headset
      </h2>
      <div class="blog__tab-content">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/headset-desc-1x.jpg 1x,
              ./images/blog/headset-desc-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/headset-tab-1x.jpg 1x,
              ./images/blog/headset-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/headset-mob-1x.jpg 1x,
              ./images/blog/headset-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/headset-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
        <div class="blog__tab-text">
          <p class="blog__text-name blog-text">By Ray Ian Ampoloquio</p>
          <p class="blog__text-date blog-text">Updated on September 21, 2022</p>
        </div>
      </div>
      <p class="blog__text-text">
        Learn how to choose an amazing gaming headset with this checklist of
        just 9 surprisingly simple steps. Gaming headsets offer a handy and
        practical solution to any and all of your gaming audio needs. But, as
        with any kind of ...
      </p>
      <div class="blog__link-container">
        <a href="#" class="blog__text-link blog-text"> Learn more </a>
      </div>
    </div>
    <div class="blog-container__content">
      <h2 class="blog__photo-title">
        Mic Monitoring: What Is It and How It Is Relevant to Gaming
      </h2>
      <div class="blog__tab-content">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/monitor-desc-1x.jpg 1x,
              ./images/blog/monitor-desc-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/monitor-tab-1x.jpg 1x,
              ./images/blog/monitor-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/monitor-mob-1x.jpg 1x,
              ./images/blog/monitor-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/monitor-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
        <div class="blog__tab-text">
          <p class="blog__text-name blog-text">By Gab L</p>
          <p class="blog__text-date blog-text">Updated on September 10, 2022</p>
        </div>
      </div>
      <p class="blog__text-text">
        An explanation and exploration of microphone monitoring — its benefits
        and how you can start using one of the most underrated features today
        ...
      </p>
      <div class="blog__link-container">
        <a href="#" class="blog__text-link blog-text"> Learn more </a>
      </div>
    </div>
    <div class="blog-container__content">
      <h2 class="blog__photo-title">How to Choose the Right Gaming Mouse</h2>
      <div class="blog__tab-content">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/mouse-desc-1x.jpg 1x,
              ./images/blog/mouse-desc-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/mouse-tab-1x.jpg 1x,
              ./images/blog/mouse-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/mouse-mob-1x.jpg 1x,
              ./images/blog/mouse-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/mouse-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
        <h2 class="blog__photo-title-desc">
          How to Choose the Right Gaming Mouse
        </h2>
        <div class="blog__tab-text">
          <p class="blog__text-name blog-text">By Michael Crider</p>
          <p class="blog__text-date blog-text">Updated on September 2, 2022</p>
        </div>
      </div>
      <p class="blog__text-text">
        A good mouse can make a big difference when playing your favorite games.
        Here’s what you need to know about grip styles, types of gaming mice,
        technical specs, and more, before purchasing a new gaming mouse ...
      </p>
      <div class="blog__link-container">
        <a href="#" class="blog__text-link blog-text"> Learn more </a>
      </div>
    </div>
    <div class="blog__svg-container">
      <svg class="blog__svg" width="40">
        <use href="./images/icons.svg#icon-slider-current"></use>
      </svg>
      <svg class="blog__svg" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
      <svg class="blog__svg blog__svg-last" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
    </div>
  </div>

  <div class="blog-container-desc container">
    <h2 class="blog-title">Blog</h2>
    <div class="sale__box">
      <div class="line-1"></div>
      <div class="line-2"></div>
    </div>
    <div class="blog-container__desc">
      <div class="blog__img-desc">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/headset-desc-1x.jpg 1x,
              ./images/blog/headset-desc-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/headset-tab-1x.jpg 1x,
              ./images/blog/headset-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/headset-mob-1x.jpg 1x,
              ./images/blog/headset-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/headset-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
      </div>
      <div class="blog__text-container-desc">
        <h2 class="blog__photo-title-desc">
          Guide to Picking The Right Gaming Headset
        </h2>
        <div class="blog__text-desc">
          <p class="blog__text-name blog-text">By Ray Ian Ampoloquio</p>
          <p class="blog__text-date blog-text">Updated on September 21, 2022</p>
        </div>
        <p class="blog__text-text">
          Learn how to choose an amazing gaming headset with this checklist of
          just 9 surprisingly simple steps. Gaming headsets offer a handy and
          practical solution to any and all of your gaming audio needs. But, as
          with any kind of ...
        </p>
        <div class="blog__link-container">
          <a href="#" class="blog__text-link blog-text"> Learn more </a>
        </div>
      </div>
    </div>

    <div class="blog-container__desc">
      <div class="blog__img-desc">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/monitor-desc-1x.jpg 1x,
              ./images/blog/monitor-desc-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/monitor-tab-1x.jpg 1x,
              ./images/blog/monitor-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/monitor-mob-1x.jpg 1x,
              ./images/blog/monitor-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/monitor-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
      </div>
      <div class="blog__text-container-desc">
        <h2 class="blog__photo-title-desc blog__child-desc">
          Mic Monitoring: What Is It and How It Is Relevant to Gaming
        </h2>
        <div class="blog__text-desc">
          <p class="blog__text-name blog-text">By Gab L</p>
          <p class="blog__text-date blog-text">Updated on September 10, 2022</p>
        </div>
        <p class="blog__text-text">
          An explanation and exploration of microphone monitoring — its benefits
          and how you can start using one of the most underrated features today
          ...
        </p>
        <div class="blog__link-container">
          <a href="#" class="blog__text-link blog-text"> Learn more </a>
        </div>
      </div>
    </div>
    <div class="blog-container__desc">
      <div class="blog__img-desc">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/mouse-desc-1x.jpg 1x,
              ./images/blog/mouse-desc-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/blog/mouse-tab-1x.jpg 1x,
              ./images/blog/mouse-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/blog/mouse-mob-1x.jpg 1x,
              ./images/blog/mouse-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/mouse-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
      </div>
      <div class="blog__text-container-desc">
        <h2 class="blog__photo-title-desc">
          How to Choose the Right Gaming Mouse
        </h2>
        <div class="blog__text-desc">
          <p class="blog__text-name blog-text">By Michael Crider</p>
          <p class="blog__text-date blog-text">Updated on September 2, 2022</p>
        </div>
        <p class="blog__text-text">
          A good mouse can make a big difference when playing your favorite
          games. Here’s what you need to know about grip styles, types of gaming
          mice, technical specs, and more, before purchasing a new gaming mouse
          ...
        </p>
        <div class="blog__link-container">
          <a href="#" class="blog__text-link blog-text"> Learn more </a>
        </div>
      </div>
    </div>
    <div class="blog__svg-container">
      <svg class="blog__svg" width="40">
        <use href="./images/icons.svg#icon-slider-current"></use>
      </svg>
      <svg class="blog__svg" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
      <svg class="blog__svg blog__svg-last" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
    </div>
  </div>
</section>
