<section class="blog">
  <div class="blog__container-mob">
    <div class="blog__title-mob container">
      <h2 class="blog-title">Blog</h2>
      <div class="line"></div>

      <!-- <div class="sale__box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div> -->
    </div>
    <article class="blog__article-mob">
      <div class="blog__title-mob">
        <h2 class="blog__photo-title-mob blog__photo-title container">
          Guide to Picking The Right Gaming Headset
        </h2>
      </div>

      <div class="blog__img-mob-headset"></div>

      <div class="blog__text-mob container">
        <p class="blog__text-name-mob blog__text-name">By Ray Ian Ampoloquio</p>
        <p class="blog__text-date-mob blog__text-date">
          Updated on September 21, 2022
        </p>
        <p class="blog__text-text-mob blog__text-text">
          Learn how to choose an amazing gaming headset with this checklist of
          just 9 surprisingly simple steps. Gaming headsets offer a handy and
          practical solution to any and all of your gaming audio needs. But, as
          with any kind of ...
        </p>
        <div class="blog__link-container blog__link-container-mob">
          <a
            href="./blog-article.html"
            class="blog__text-link-mob blog__text-link"
          >
            Learn more
          </a>
        </div>
      </div>
    </article>

    <article class="blog__container-mob">
      <div class="blog__title-mob">
        <h2 class="blog__photo-title-mob blog__photo-title container">
          Mic Monitoring: What Is It and How It Is Relevant to Gaming
        </h2>
      </div>

      <div class="blog__img-mob-monitor"></div>

      <div class="blog__text-mob container">
        <p class="blog__text-name-mob blog__text-name">By Gab L</p>
        <p class="blog__text-date-mob blog__text-date">
          Updated on September 10, 2022
        </p>
        <p class="blog__text-text-mob blog__text-text">
          An explanation and exploration of microphone monitoring — its benefits
          and how you can start using one of the most underrated features today
          ...
        </p>
        <div class="blog__link-container blog__link-container-mob">
          <a
            href="./blog-article.html"
            class="blog__text-link-mob blog__text-link"
          >
            Learn more
          </a>
        </div>
      </div>
    </article>

    <article class="blog__container-mob">
      <div class="blog__title-mob">
        <h2 class="blog__photo-title-mob blog__photo-title container">
          How to Choose the Right Gaming Mouse
        </h2>
      </div>

      <div class="blog__img-mob-mouse"></div>

      <div class="blog__text-mob container">
        <p class="blog__text-name-mob blog__text-name">By Michael Crider</p>
        <p class="blog__text-date-mob blog__text-date">
          Updated on September 2, 2022
        </p>
        <p class="blog__text-text-mob blog__text-text">
          A good mouse can make a big difference when playing your favorite
          games. Here’s what you need to know about grip styles, types of gaming
          mice, technical specs, and more, before purchasing a new gaming
          mouse...
        </p>
        <div class="blog__link-container blog__link-container-mob">
          <a
            href="./blog-article.html"
            class="blog__text-link-mob blog__text-link"
          >
            Learn more
          </a>
        </div>
      </div>
    </article>
    <div class="blog__svg-container">
      <svg class="blog__svg" width="40">
        <use href="./images/icons.svg#icon-slider-current"></use>
      </svg>
      <svg class="blog__svg" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
      <svg class="blog__svg blog__svg-last" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
    </div>
  </div>

  <div class="blog__container-tab">
    <article class="blog__container-tab container">
      <div class="blog__title-tab">
        <h2 class="blog-title blog-title-tab">Blog</h2>
        <div class="line"></div>

        <!-- <div class="sale__box">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                </div> -->
        <h2 class="blog__photo-title-tab blog__photo-title">
          Guide to Picking The Right Gaming Headset
        </h2>
      </div>

      <div class="blog__img-tab">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/headset-tab-1x.jpg 1x,
              ./images/blog/headset-tab-2x.jpg 2x
            "
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/headset-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
        <div class="blog__text-text-tab">
          <p class="blog__text-name-tab blog__text-name">
            By Ray Ian Ampoloquio
          </p>
          <p class="blog__text-date-tab blog__text-date">
            Updated on September 21, 2022
          </p>
        </div>
      </div>
      <p class="blog__text-text-tab blog__text-text">
        Learn how to choose an amazing gaming headset with this checklist of
        just 9 surprisingly simple steps. Gaming headsets offer a handy and
        practical solution to any and all of your gaming audio needs. But, as
        with any kind of ...
      </p>
      <div class="blog__link-container blog__link-container-mob">
        <a
          href="./blog-article.html"
          class="blog__text-link-tab blog__text-link"
        >
          Learn more
        </a>
      </div>
    </article>

    <article class="blog__container-tab container">
      <div class="blog__title-tab">
        <h2 class="blog__photo-title-tab blog__photo-title">
          Mic Monitoring: What Is It and How It Is Relevant to Gamingv
        </h2>
      </div>

      <div class="blog__img-tab">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/monitor-tab-1x.jpg 1x,
              ./images/blog/monitor-tab-1x.jpg 2x
            "
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/monitor-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
        <div class="blog__text-text-tab">
          <p class="blog__text-name-tab blog__text-name">By Gab L</p>
          <p class="blog__text-date-tab blog__text-date">
            Updated on September 10, 2022
          </p>
        </div>
      </div>
      <p class="blog__text-text-tab blog__text-text">
        An explanation and exploration of microphone monitoring — its benefits
        and how you can start using one of the most underrated features today
        ...
      </p>
      <div class="blog__link-container blog__link-container-mob">
        <a
          href="./blog-article.html"
          class="blog__text-link-tab blog__text-link"
        >
          Learn more
        </a>
      </div>
    </article>

    <article class="blog__container-tab container">
      <div class="blog__title-tab">
        <h2 class="blog__photo-title-tab blog__photo-title">
          How to Choose the Right Gaming Mouse
        </h2>
      </div>

      <div class="blog__img-tab">
        <picture class="blog-photo">
          <source
            srcset="
              ./images/blog/mouse-tab-1x.jpg 1x,
              ./images/blog/mouse-tab-2x.jpg 2x
            "
          />
          <img
            class="blog-photo"
            width="387"
            src="./images/blog/mouse-desc-1x.jpg"
            alt="Headset"
          />
        </picture>
        <div class="blog__text-text-tab">
          <p class="blog__text-name-tab blog__text-name">By Michael Crider</p>
          <p class="blog__text-date-tab blog__text-date">
            Updated on September 2, 2022
          </p>
        </div>
      </div>
      <p class="blog__text-text-tab blog__text-text">
        A good mouse can make a big difference when playing your favorite games.
        Here’s what you need to know about grip styles, types of gaming mice,
        technical specs, and more, before purchasing a new gaming mouse...
      </p>
      <div class="blog__link-container blog__link-container-mob">
        <a
          href="./blog-article.html"
          class="blog__text-link-tab blog__text-link"
        >
          Learn more
        </a>
      </div>
    </article>
    <div class="blog__svg-container">
      <svg class="blog__svg" width="40">
        <use href="./images/icons.svg#icon-slider-current"></use>
      </svg>
      <svg class="blog__svg" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
      <svg class="blog__svg blog__svg-last" width="16">
        <use href="./images/icons.svg#icon-slider"></use>
      </svg>
    </div>
  </div>

  <div class="blog__container-desc container">
    <article class="blog__container-desc">
      <div class="blog__title-desc">
        <h2 class="blog-title blog-title-desc">Blog</h2>
        <div class="line"></div>

        <!-- <div class="sale__box">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                </div> -->
      </div>

      <div class="blog__photo-desc">
        <div class="blog__img-desc">
          <picture class="blog-photo">
            <source
              srcset="
                ./images/blog/headset-desc-1x.jpg 1x,
                ./images/blog/headset-desc-2x.jpg 2x
              "
            />
            <img
              class="blog-photo"
              width="387"
              src="./images/blog/headset-desc-1x.jpg"
              alt="Headset"
            />
          </picture>
        </div>

        <div class="blog__text-desc">
          <h2 class="blog__photo-title-desc blog__photo-title">
            Guide to Picking The Right Gaming Headset
          </h2>
          <div class="blog__text-text-desc">
            <p class="blog__text-name-desc blog__text-name">
              By Ray Ian Ampoloquio
            </p>
            <p class="blog__text-date-desc blog__text-date">
              Updated on September 21, 2022
            </p>
          </div>
          <p class="blog__text-text-desc blog__text-text">
            Learn how to choose an amazing gaming headset with this checklist of
            just 9 surprisingly simple steps. Gaming headsets offer a handy and
            practical solution to any and all of your gaming audio needs. But,
            as with any kind of ...
          </p>
          <div class="blog__link-container blog__link-container-desc">
            <a
              href="./blog-article.html"
              class="blog__text-link-desc blog__text-link"
            >
              Learn more
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="blog__container-desc">
      <div class="blog__photo-desc">
        <div class="blog__img-desc">
          <picture class="blog-photo">
            <source
              srcset="
                ./images/blog/monitor-desc-1x.jpg 1x,
                ./images/blog/monitor-desc-2x.jpg 2x
              "
            />
            <img
              class="blog-photo"
              width="387"
              src="./images/blog/monitor-desc-1x.jpg"
              alt="Headset"
            />
          </picture>
        </div>

        <div class="blog__text-desc">
          <h2
            class="blog__photo-title-desc blog__photo-title-monitor blog__photo-title"
          >
            Mic Monitoring: What Is It and How It Is Relevant to Gaming
          </h2>
          <div class="blog__text-text-desc">
            <p class="blog__text-name-desc blog__text-name">By Gab L</p>
            <p class="blog__text-date-desc blog__text-date">
              Updated on September 10, 2022
            </p>
          </div>
          <p class="blog__text-text-desc blog__text-text">
            An explanation and exploration of microphone monitoring — its
            benefits and how you can start using one of the most underrated
            features today ...
          </p>
          <div class="blog__link-container blog__link-container-desc">
            <a
              href="./blog-article.html"
              class="blog__text-link-desc blog__text-link"
            >
              Learn more
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="blog__container-desc">
      <div class="blog__photo-desc">
        <div class="blog__img-desc">
          <picture class="blog-photo">
            <source
              srcset="
                ./images/blog/mouse-desc-1x.jpg 1x,
                ./images/blog/mouse-desc-2x.jpg 2x
              "
            />
            <img
              class="blog-photo"
              width="387"
              src="./images/blog/mouse-desc-1x.jpg"
              alt="Headset"
            />
          </picture>
        </div>

        <div class="blog__text-desc">
          <h2 class="blog__photo-title-desc blog__photo-title">
            How to Choose the Right Gaming Mouse
          </h2>
          <div class="blog__text-text-desc">
            <p class="blog__text-name-desc blog__text-name">
              By Michael Crider
            </p>
            <p class="blog__text-date-desc blog__text-date">
              Updated on September 2, 2022
            </p>
          </div>
          <p class="blog__text-text-desc blog__text-text">
            A good mouse can make a big difference when playing your favorite
            games. Here’s what you need to know about grip styles, types of
            gaming mice, technical specs, and more, before purchasing a new
            gaming mouse...
          </p>
          <div class="blog__link-container blog__link-container-desc">
            <a
              href="./blog-article.html"
              class="blog__text-link-desc blog__text-link"
            >
              Learn more
            </a>
          </div>
        </div>
      </div>
      <div class="blog__svg-container">
        <svg class="blog__svg" width="40">
          <use href="./images/icons.svg#icon-slider-current"></use>
        </svg>
        <svg class="blog__svg" width="16">
          <use href="./images/icons.svg#icon-slider"></use>
        </svg>
        <svg class="blog__svg blog__svg-last" width="16">
          <use href="./images/icons.svg#icon-slider"></use>
        </svg>
      </div>
    </article>
  </div>
</section>
