<section class="accessories__section section">
  <div class="container">
    <ul class="accessories__filter list">
      <li class="accessories__filter-item">
        <button type="button" class="accessories__btn btn">All</button>
      </li>
      <li class="accessories__filter-item">
        <button type="button" class="accessories__btn btn">Headsets</button>
      </li>
      <li class="accessories__filter-item">
        <button type="button" class="accessories__btn btn">Keyboards</button>
      </li>
      <li class="accessories__filter-item">
        <button type="button" class="accessories__btn btn">Mouses</button>
      </li>
    </ul>

    <h2 class="accessories__title">All accessories</h2>
    <!-- <div class="sale__box">
      <div class="line-1"></div>
      <div class="line-2"></div>
    </div> -->
    <div class="line"></div>

    <div class="card__wrap">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <!-- <ul class="swiper-wrapper">
          Slides
          <li class="swiper-slide">

          </li>
          <li class="swiper-slide">
            
          </li>
          <li class="swiper-slide">
            <picture class="banner__img">
              <source srcset="
                      /src/images/gallery/banner-three-1x.jpg 1x,
                      /src/images/gallery/banner-three-2x.jpg 2x
                      " media="(min-width: 1280px)">
              <img src="/src/images/gallery/banner-three-1x.jpg" alt="gaming keyboard" width="1280" height="507">
            </picture>
            <p class="banner__three">High-quality products in lowest price</p>
          </li>
        </ul> -->
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <div class="card__wrap--tablet">
        <!-- LIST 1 -->
        <ul class="accessories__list list">
          <li class="accessories__item link">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop1-1x.jpg 1x,
                    ./images/accessories/accessories-desctop1-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop1-1x.jpg"
                  alt="headphones with volume control and adapter cables for gift"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >
                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>
              <div class="accessories__library">
                <h2 class="accessories__product">Xiberia K9 PRO PC Headset</h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">65.14 USD</p>
                  <p class="accessories__second-price">55.14 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop5-1x.jpg 1x,
                    ./images/accessories/accessories-desctop5-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop5-1x.jpg"
                  alt="black-orange headphones with microphone"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>
              <div class="accessories__library">
                <h2 class="accessories__product">Xiberia K9 PRO PC Headset</h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">156.00 USD</p>
                  <p class="accessories__second-price">116.00 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop9-1x.jpg 1x,
                    ./images/accessories/accessories-desctop9-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop9-1x.jpg"
                  alt="backlit multi-colored keyboard"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  Steampunk Anti-Ghosting Mechanical Keyboard
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">82.40 USD</p>
                  <p class="accessories__second-price">62.40 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop13-1x.jpg 1x,
                    ./images/accessories/accessories-desctop13-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop13-1x.jpg"
                  alt="Сomputer mouse with a picture of a skull"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">AULA SI9006 Gaming Mouse</h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">89.13 USD</p>
                  <p class="accessories__second-price">64.13 USD</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!-- List 3 -->
        <ul class="accessories__list list">
          <li class="accessories__item link mob__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop2-1x.jpg 1x,
                    ./images/accessories/accessories-desctop2-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop2-1x.jpg"
                  alt="black headphones with microphone"
                  class="accessories__card"
                />
                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >
                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >
                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >
                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>
              <div class="accessories__library">
                <h2 class="accessories__product">
                  G95 Light Surround Gaming Headset
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">72.78 USD</p>
                  <p class="accessories__second-price">51.78 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link mob__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop6-1x.jpg 1x,
                    ./images/accessories/accessories-desctop6-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop6-1x.jpg"
                  alt="backlit keyboard"
                  class="accessories__card"
                />
                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >
                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>
              <div class="accessories__library">
                <h2 class="accessories__product">
                  RGB LED Backlit Mechanical Keyboard
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">156.14 USD</p>
                  <p class="accessories__second-price">116.00 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link mob__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop10-1x.jpg 1x,
                    ./images/accessories/accessories-desctop10-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop10-1x.jpg"
                  alt="Wired Gaming Headphones For PS4"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >
                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  Wired Gaming Headphones For PS4
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">72.65 USD</p>
                  <p class="accessories__second-price">47.55 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link mob__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop14-1x.jpg 1x,
                    ./images/accessories/accessories-desctop14-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop14-1x.jpg"
                  alt="red and black computer mouse"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  HXSJ A903 3200 DPI USB Wired Gaming Mouse
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">50.49 USD</p>
                  <p class="accessories__second-price">32.49 USD</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="card__wrap--tablet">
        <!-- LIST 2 -->
        <ul class="accessories__list list">
          <li class="accessories__item link">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop3-1x.jpg 1x,
                    ./images/accessories/accessories-desctop3-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop3-1x.jpg"
                  alt="Wireless Mouse black-silver with light green stripes"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  Malloom 1200 DPI 2.4Ghz Wireless Mouse
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">44.24 USD</p>
                  <p class="accessories__second-price">29.93 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop7-1x.jpg 1x,
                    ./images/accessories/accessories-desctop7-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop7-1x.jpg"
                  alt="computer mouse with purple decoration"
                  class="accessories__card"
                />
                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  DARSHION 3200 DPI MZ-17 Gaming Mouse
                </h2>

                <div class="accessories__prices">
                  <p class="accessories__first-price">48.00 USD</p>
                  <p class="accessories__second-price">32.00 USD</p>
                </div>
              </div>
            </a>
          </li>

          <li class="accessories__item link mob__hidden tab__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop11-1x.jpg 1x,
                    ./images/accessories/accessories-desctop11-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop11-1x.jpg"
                  alt="Gaming Headset headphones with microphone"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  HAVIT USB 3.5mm Gaming Headset
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">65.14 USD</p>
                  <p class="accessories__second-price">53.98 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link mob__hidden tab__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop15-1x.jpg 1x,
                    ./images/accessories/accessories-desctop15-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop15-1x.jpg"
                  alt="Blue headphones plus splitter"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>
              <div class="accessories__library">
                <h2 class="accessories__product">
                  G95 Light Surround Gaming Headset
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">78.98 USD</p>
                  <p class="accessories__second-price">50.98 USD</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!-- LIST 4 -->
        <ul class="accessories__list list">
          <li class="accessories__item link mob__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop4-1x.jpg 1x,
                    ./images/accessories/accessories-desctop4-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop4-1x.jpg"
                  alt="orange backlit keyboard"
                  class="accessories__card"
                />
                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >
                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >
                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >
                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  Steampunk Anti-Ghosting Mechanical Keyboard
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">160.00 USD</p>
                  <p class="accessories__second-price">110.00 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link mob__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop8-1x.jpg 1x,
                    ./images/accessories/accessories-desctop8-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop4-1x.jpg"
                  alt="LED Backlit Mechanical Keyboard"
                  class="accessories__card"
                />
                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >
                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >
                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >
                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>
              <div class="accessories__library">
                <h2 class="accessories__product">
                  K569 RGB LED Backlit Mechanical Keyboard
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">156.98 USD</p>
                  <p class="accessories__second-price">112.16 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link mob__hidden tab__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop12-1x.jpg 1x,
                    ./images/accessories/accessories-desctop12-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop12-1x.jpg"
                  alt="Gaming Headset headphones with microphone"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >

                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >

                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >

                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>

              <div class="accessories__library">
                <h2 class="accessories__product">
                  Somic G936N PS4 Gaming Headset
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">102.00 USD</p>
                  <p class="accessories__second-price">66.78 USD</p>
                </div>
              </div>
            </a>
          </li>
          <li class="accessories__item link mob__hidden tab__hidden">
            <a class="accessories__link link" href="/src/take-oder.html">
              <div class="accessories__overlay-box">
                <img
                  srcset="
                    ./images/accessories/accessories-desctop16-1x.jpg 1x,
                    ./images/accessories/accessories-desctop16-2x.jpg 2x
                  "
                  src="./images/accessories/accessories-desctop16-1x.jpg"
                  alt="Colorfull Keyboard"
                  class="accessories__card"
                />

                <p class="accessories__overlay">
                  <span class="accessories__overlay-text"
                    >100% Brand new and high quality!</span
                  >
                  <span class="accessories__overlay-text"
                    >Ergonomic in design makes it more adjustable to use.</span
                  >
                  <span class="accessories__overlay-text"
                    >More fashionable for your daily use, such as playing
                    games.</span
                  >
                  <span class="accessories__overlay-text"
                    >Built-in high sensitivity and noise reduction
                    microphone.</span
                  >
                  <span class="accessories__overlay-text"
                    >It is not easy to break or deform, and wear comfortable, no
                    pressure.</span
                  >
                </p>
              </div>
              <div class="accessories__library">
                <h2 class="accessories__product">
                  YMDK Double Shot 104 Keyboard
                </h2>
                <div class="accessories__prices">
                  <p class="accessories__first-price">71.77 USD</p>
                  <p class="accessories__second-price">46.77 USD</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="blog__svg-container">
    <svg class="blog__svg" width="40">
      <use href="./images/icons.svg#icon-slider-current"></use>
    </svg>
    <svg class="blog__svg" width="16">
      <use href="./images/icons.svg#icon-slider"></use>
    </svg>
    <svg class="blog__svg blog__svg-last" width="16">
      <use href="./images/icons.svg#icon-slider"></use>
    </svg>
  </div> -->
  <div class="wrapper">
    <span class="point"></span>
    <span class="point"></span>
    <span class="point"></span>
  </div>
</section>