<div class="backdrop is-hidden" data-contact-modal>
  <div class="contact-modal">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-icon" width="31" height="31">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__text modal__text--small">
      Thank you <br />
      for your message!<br />
      We will contact you soon!
    </p>
    <button type="button" class="contact-modal__btn" data-contact-modal-close>
      OK
    </button>
  </div>
</div>
