<div class="backdrop is-hidden">
  <div class="contact-modal animate__animated animate__tada">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-icon" width="40" height="40">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__thumb modal__thumb--small">
      <p class="modal__text modal__text--small">
        Thank you <br />
        for your message!<br />
        We will contact you soon!
      </p>
      <button type="button" class="contact-modal__btn">OK</button>
    </div>
  </div>
</div>
