<section class="contact">
  <div class="container">
    <h2 class="contact__title">Сontacts</h2>
    <div class="sale__box">
      <div class="line-1"></div>
      <div class="line-2"></div>
    </div>
  </div>
    <div class="contacts__bgn-image"></div>
  <div class="container">    
    <picture>
      <source
        srcset="
          ./images/contacts/rectangle@11x.tab.jpg 1x,
          ./images/contacts/rectangle@22x.tab.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/contacts/rectangle@11x.desk.jpg 1x,
          ./images/contacts/rectangle@22x.desk.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <img
        src="./images/contacts/rectangle@11x.mob.jpg"
        alt="illuminated neon gaming keyboard and gamepad"
        class="contact__img"
      />
    </picture>    
    <div class="contact__content">
      <div class="contact-text__wrap">
        <p class="contact__text">
          In case of queries about order handling and/or delay, drop us an email
          at
        </p>
        <p class="contact__text">
          <a href="mailto:@shopforgamers.com" class="link list"> @shopforgamers.com</a>
        </p>
      </div>
      <!-- ADDRESS -->
      <div class="address">
        <address>
          <h3 class="contact-form__subtitle">Email</h3>
          <ul class="address__email">
            <li>
              <a href="mailto:sfg.info@gmail.com" class="contact-form__contact"
                >sfg.info@gmail.com</a
              >
            </li>
          </ul>
          <h3 class="contact-form__subtitle">Phone number</h3>
          <ul>
            <li>
              <a href="tel:+380936432288" class="contact-form__contact"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li>
              <a href="tel:+380503454423" class="contact-form__contact"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </address>
      </div>
      <!-- <div class="address">
        <address class="address__email">
          <h2 class="contact-form__subtitle">Email</h2>
          <a href="mailto:sfg.info@gmail.com" class="contact-form__contact"
            >sfg.info@gmail.com</a
          >
        </address>
        <address class="address__number">
          <h2 class="contact-form__subtitle">Phone number</h2>
          <div class="contact-form__telefone">
            <a href="tel:+38 (093) 643 22 88" class="contact-form__contact"
              >+38 (093) 643 22 88</a
            >
          </div>
          <div class="contact-form__telefone">
            <a href="tel:+38 (050) 345 44 23" class="contact-form__contact"
              >+38 (050) 345 44 23</a
            >
          </div>
        </address>
      </div> -->

      
      <div class="contact-form">
        <h3 class="contact-form__title">CONTACT US</h3>
        <form class="contact-form__form">
          <div class="contact-form__div">
            <label class="contact-form__lable">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                class="contact-form__input"
              />
            </label>
          </div>

          <div class="contact-form__div">
            <label class="contact-form__lable">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                class="contact-form__input"
              />
            </label>
          </div>

          <div class="contact-form__div">
            <label class="contact-form__lable">
              <span class="contact-form__text">Leave your message</span>
              <textarea
                class="contact-form__modal-coment"
                name="comment"
                cols="20"
              ></textarea>
            </label>
          </div>
        </form>
      </div>
    </div>
    <div class="contact__btn">
      <button type="button" class="contact-form__btn" data-contact-modal-open>
        SEND
      </button>
    </div>
  </div>
</section>
