<section class="contact section">
  <div class="container">
    <h2 class="contact__title">Сontacts</h2>
    <div class="line"></div>
  </div>
  <div class="contacts__bgn-image"></div>
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/contacts/rectangle@11x.tab.jpg 1x,
          ./images/contacts/rectangle@22x.tab.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/contacts/rectangle@11x.desk.jpg 1x,
          ./images/contacts/rectangle@22x.desk.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <img
        src="./images/contacts/rectangle@11x.desk.jpg"
        alt="illuminated neon gaming keyboard and gamepad"
        class="contact__img"
      />
    </picture>
    <div class="contact__content">
      <div class="content__wrap">
        <div class="contact-text__wrap">
          <p class="contact__text">
            In case of queries about order handling and/or delay, drop us an
            email at
            <br /><br />
            <span>info@shopforgamers.com</span>
          </p>
        </div>
        <!-- ADDRESS -->
        <div class="contact">
          <address class="contact__address">
            <ul class="contact__address-email">
              <li class="list">
                <h3 class="contact-form__subtitle">Email</h3>
                <a
                  href="mailto:sfg.info@gmail.com"
                  class="contact-form__contact link"
                  >sfg.info@gmail.com</a
                >
              </li>
            </ul>
            <ul class="contact__adress-phone">
              <li class="list">
                <h3 class="contact-form__subtitle">Phone number</h3>
                <a href="tel:+380936432288" class="contact-form__contact link"
                  >+38 (093) 643 22 88</a
                >
              </li>
              <li class="list">
                <a href="tel:+380503454423" class="contact-form__contact link"
                  >+38 (050) 345 44 23</a
                >
              </li>
            </ul>
          </address>
        </div>
      </div>

      <!-- <div class="address">
        <address class="address__email">
          <h2 class="contact-form__subtitle">Email</h2>
          <a href="mailto:sfg.info@gmail.com" class="contact-form__contact"
            >sfg.info@gmail.com</a
          >
        </address>
        <address class="address__number">
          <h2 class="contact-form__subtitle">Phone number</h2>
          <div class="contact-form__telefone">
            <a href="tel:+38 (093) 643 22 88" class="contact-form__contact"
              >+38 (093) 643 22 88</a
            >
          </div>
          <div class="contact-form__telefone">
            <a href="tel:+38 (050) 345 44 23" class="contact-form__contact"
              >+38 (050) 345 44 23</a
            >
          </div>
        </address>
      </div> -->
      <div class="content__wrap">
        <div class="contact-form">
          <h3 class="contact-form__title">CONTACT US</h3>
          <form class="contact-form__form">
            <div class="contact-form__div">
              <label class="contact-form__lable">
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Name"
                  class="contact-form__input"
                  required
                />
              </label>
            </div>

            <div class="contact-form__div">
              <label class="contact-form__lable">
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  class="contact-form__input"
                  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                  size="30"
                  required
                />
              </label>
            </div>

            <div class="contact-form__div">
              <label class="contact-form__lable">
                <span class="contact-form__text">Leave your message</span>
                <textarea
                  class="contact-form__modal-coment"
                  name="comment"
                  cols="20"
                ></textarea>
              </label>
            </div>
            <div class="contact__btn">
              <button
                type="submit"
                class="contact-form__btn"
                data-contact-modal-open
              >
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
