<section class="contact">

    <h2 class="contact__title">Сontacts</h2>
   
    <img class="contact__img" src="./images/contacts/Rectangle@1x.mob.jpg" alt="illuminated neon gaming keyboard and gamepad"/>
   
    <p class="contact__text">In case of queries about order handling and/or delay, drop us an email at
     <a href="malito:@shopforgamers.com"> @shopforgamers.com</a></p>
   
       <div class="address">
           <address class="address__email">
               <h4 class="contact-form__subtitle">Email</h4>
               <a href="malito:sfg.info@gmail.com" class="contact-form__contact">sfg.info@gmail.com</a>
           </address>
           <address class="address__number">
               <h4 class="contact-form__subtitle">Phone number</h4> 
               <a  href="tel:+38 (093) 643 22 88" class="contact-form__contact">+38 (093) 643 22 88</a>
               <a href="tel:+38 (050) 345 44 23" class="contact-form__contact">+38 (050) 345 44 23</a>
           </address>
       </div>
       
       <div  class="contact-form">
           <h3 class="contact-form__title"> CONTACT US</h3>
   
           <form class="contact-form__form">
              <label class="contact-form__lable">
               Name
           <input type="text" 
           name="name" 
           id="name" 
           class="contact-form__input">
              </label>
              <label  class="contact-form__lable">
              Email
           <input
           type="email" 
           name="email" 
           id="email" 
           class="contact-form__input">
              </label>
              <label  class="contact-form__lable">
               Leave your message
               <textarea  class="modal-coment" name="comment" cols="20" ></textarea>
              </label>
           </form>
   
           <button  type="button"  class="contact-form__btn" data-modal-open>
               SEND
           </button>
       </div>
      
       <!--<div class="modal-contact is-hidden " data-modal>
           <button type="button" class="modal-contact__btn-close">
               <svg  width="11.25px" height="11.25px" class="modal__svg">
                   <use href="./images/icon.svg#icon-close"></use>
               </svg>
           </button>
          <p class="modal-contact__text">Thank you 
           for your message!
           We will contact you 
           soon!</p>
           <button  type="button"  class="modal-contact__btn-ok">ok</button>
       </div>
       <script src="./js/modal.js"></script>-->
   </section>