.banner {
    display: flex;
    align-items: flex-end;
    background-position: center;
    padding-left: 24px;
    padding-bottom: 37px;
    background-color: #E5E5E5;

@media screen and (max-width:767px) and (min-width:1279px) {
        padding-left: 41px;
        padding-bottom: 14px;
        }


@media screen and (min-width:1280px) {
        padding-left: 345px;
        padding-bottom: 49px;
        }
                        


&__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.6em;
        text-align: left;
        
        background:  linear-gradient(270deg, #1EDDE0 13.26%, #8BDA41 51.01%, #EF001B 107.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    



        @media screen and (min-width:480px) {
        width: 257px;
        height: 56px;
        @include font(600, 24px, 1.17, 0.06em)
                
        }
        
        @media screen and (min-width:768px) {
                
        width: 768px;
        height: 498px;
        @include font(600, 54px, 1.17, 0.06em)
        }

        @media screen and (min-width: 1280px) {
                width: 596px;
                height: 132px;
                @include font(900, 56px, 1.36, 0.06em)
                
        }
    


}
}
.overlay {
   
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    height: 770px;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
        // background-image: url(./images/Mobile.jpg)
        background-image: url(../images/gallery/mobile.jpg);
        ;
        background-image: url(../images/gallery/mobile2x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
            background-image:
                    url(../images/gallery/mobile2x.jpg);
    }


    @media screen and (min-width: 768px) {
            background-image: url(../images/gallery/tablet.jpg);
            background-image: url(../images/gallery/tablet2x.jpg);
            max-width: 768px;
            height: 498px;
    }

    @media screen and (min-width: 1200px) {
            background-image:url(../images/gallery/desktop.jpg);
            background-image: url(../images/gallery/desktop2x.jpg);

            max-width: 1600px;
            height: 506px;
    }




}