.banner {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1600px;
  }
}
.swiper-wrapper {
  margin-bottom: 32px;
}
.swiper-slide {
  position: relative;
}
.banner__img img {
  margin: 0 auto;
  height: 507px;
  object-fit: cover;
}

.banner__one {
  position: absolute;
  left: 24px;
  top: 405px;
  max-width: 257px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: left;

  background: linear-gradient(
    270deg,
    #1edde0 13.26%,
    #8bda41 51.01%,
    #ef001b 107.89%
  );
  background-clip: text;
  color: transparent;

  @include tablet {
    left: 41px;
    top: 352px;
    max-width: 596px;
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    right: 0;
    left: 0;
    top: 326px;
    bottom: 0;
    margin: auto;
  }
}

.banner__two {
  position: absolute;
  left: 24px;
  top: 405px;
  max-width: 257px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: left;

  background: linear-gradient(
    270deg,
    #03fe8f 4.61%,
    #ebdcff 57.91%,
    #ff98f3 92.2%
  );
  background-clip: text;
  color: transparent;
  @include tablet {
    left: 41px;
    top: 352px;
    max-width: 596px;
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    right: 0;
    left: 0;
    top: 326px;
    bottom: 0;
    margin: auto;
  }
}

.banner__three {
  position: absolute;
  left: 24px;
  top: 405px;
  max-width: 257px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: left;

  background: linear-gradient(
    270deg,
    #ffffff 13.26%,
    #693cf9 60.87%,
    #f475eb 107.89%
  );
  background-clip: text;
  color: transparent;

  @include tablet {
    left: 41px;
    top: 352px;
    max-width: 596px;
    font-size: 56px;
    line-height: 1.18;
  }
  @include desktop {
    right: 0;
    left: 0;
    top: 326px;
    bottom: 0;
    margin: auto;
  }
}
// .swiper-pagination {

// }
.swiper {
  & .swiper-pagination {
    position: relative;
    bottom: 0;
  }
  & .swiper-pagination-bullet {
    margin: 0;
    width: 16px;
    height: 16px;
    opacity: 1;
    background: #fff;
  }
  & .swiper-pagination-bullet-active {
    width: 40px;
    height: 16px;
    opacity: 1;
    background: #fff;
    border-radius: 30px;
  }
}
