.hero {
    padding: 180px 0 127px 0;
    text-align: center;

    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    background-image: 
        url(/src/images/hero/mob-Items-1x.png),
        url(/src/images/hero/mob-hero-1x.jpg);
    background-repeat: no-repeat;
    background-position: right bottom 25px, right;
    background-size: 304px, cover;
    backdrop-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    @include double-pixel {
    background-image: url(/src/images/hero/mob-hero-2x.jpg);
    }
    @include tablet {
        max-width: 768px;
    background-image: 
        url(/src/images/hero/tab-Items-1x.png),
        url(/src/images/hero/tab-hero-1x.jpg);
            @include double-pixel {
                background-image: url(/src/images/hero/tab-Items-2x.png);
            }
    }

    @include desktop {
        width: 100%;
        max-width: 1600px;
        padding: 200px 0 200px 0;
        background-image: url(/src/images/hero/pc-hero-1x.jpg);
        @include double-pixel {
            background-image: url(/src/images/hero/pc-hero-2x.jpg);
        }
    }
}

.hero__title {
    margin: 0 auto 25px auto;
    max-width: 247px;

    font-weight: 600;
    font-size: 32px;
    line-height: 1.18;
    text-align: center;
    color: $text-color;

    @include tablet {
        width: 360px;
    }

    @include desktop {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {
    padding: 16px 20px;
    border: none;
    border-radius: 16px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;

    background-color: $accent-color;
    color: $main-bgcolor;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    &:hover, &:focus {
    box-shadow: button-boxshadow;
    }
}