// h2 {
//   margin: 0;
// }
// body {
//   // box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   background-color:#01383A;;
// }
// a {
//   text-decoration: none;
//   color: currentColor;
// }
// p {
//   margin: 0;
// }
// ul {
//   margin: 0;
//   text-decoration: none;
//   list-style: none;
//   padding: 0;
// }
// li {
//   list-style: none;
// }

.sale {
  margin-bottom: 40px;
  @include tablet {
  margin-bottom: 120px;

  }
}
.sale__grid {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 52px;
    column-gap: 38px;
  }
  @media (min-width: 1280px) {
    row-gap: 44px;
    column-gap: 20px;
  }
}
.section-title {
    position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #FFFFFF;
  
  margin-bottom: 35px;
  padding-left: 80px;
    // &::after{
    //     top: 10;
    //     height: 71px;
    //     width: 100vw;
    //     position: absolute;
    //     content: "";
    //     background-image: url(../images/vector21.svg);
    // }
    // &::after{
    //     top: 20;
    //     height: 71px;
    //     width: 100vw;
    //     position: absolute;
    //     content: "";
    //     background-image: url(../images/vector22.svg);
    // }
  @media (min-width: 768px) {
    padding-left: 62px;
    margin-bottom: 51px;
    font-size: 56px;
    line-height: 1.17;
  }
  @media (min-width: 1280px) {
    margin-bottom: 43px;
    padding-left: 102px;
  }
}
// .sale__box {
//     position: relative;
// }
// .line-1 {
//     background-repeat: no-repeat;
//     top: 42;
//     left: -40;
//     height: 71px;
//     width: 100vw;
//     position: absolute;
//     content: "";
//     background-image: url(../images/icon-title-line/sale-desk-bottom.svg);
//     @media (max-width: 1279px) {
//         left: -70;
//     }
//     @media (max-width: 767px) {
//        transform: scaleY(0.5);
//         height: 71px;
//         width: 200vw;
//         top: -65;
//         left: -180;
//     }
// }

// .line-2 {
//     background-repeat: no-repeat;
//     top: 50;
//     left: -40;
//     height: 71px;
//     width: 100vw;
//     position: absolute;
//     content: "";
//     background-image: url(../images/icon-title-line/sale-desk-top.svg);

//     @media (max-width: 1279px) {
//         left: -70;
//     }
//     @media (max-width: 767px) {
//         transform: scaleY(0.5);
//         height: 71px;
//         width: 200vw;
//         top: -60;
//         left: -185;
//     }
// }

.sale__img {
  display: block;
  border-radius: 12px;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  max-width: 285px;
}
.sale__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  @media (min-width: 768px) {
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
  }
  max-width: 285px;
}
.sale__product-name, .sale__product-class {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 1.18;
color: #86E543;
}
.sale__price {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 1;
text-decoration-line: line-through;
color: #8D9289;
}
.sale__sale-price {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1;
color: #86E543;
margin-left: 80px;
}
.sale__prices {
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
}
.sale__item--display-none {
  display: none;
  @media (min-width: 768px) {
  display: block;
  }
}
// .sale__container {
//   // box-sizing: border-box;
//   padding-left: 17px;
//   padding-right: 18px;
//   margin-left: auto;
//   margin-right: auto;
//   @media (min-width: 480px) {
//     width: 480px;
//   }
//   @media (min-width: 768px) {
//     width: 768px;
//     padding-left: 80px;
//     padding-right: 80px;
//   }
//   @media (min-width: 1280px) {
//     width: 1280px;
//     padding-left: 40px;
//     padding-right: 40px;
//   }
// }
.sale__button {
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.18;
color: #01383A;
text-decoration: none;
padding: 16px 0px;
border-radius: 16px;
background-color: #fff;
align-items: center;
justify-content: center;
margin-top: 44px;
margin-left: auto;
margin-right: auto;
width: 153px;
transition: box-shadow 150ms linear;

  @media (min-width: 768px) {
    width: 195px;
    font-size: 28px;
    margin-top: 51px;
  }
  @media (min-width: 1280px) {
    margin-top: 47px;
    width: 195px;
  }

  &:hover {
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 0px 4px 10px rgba(134, 229, 67, 0.1);
  }
}