.footer {
  background-color: $footer-bgcolor;
  padding: 25px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and(max-width: 767px) {
    position: relative;
    gap: 25px;
  }

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer-logo__logo {
  @include font(700, 24px, 28px, 1.17);

  text-align: center;
  color: $text-color;
}

.footer-list__links {
  position: relative;
  @include font(400, 16px, 16px, 1);
  color: $text-color;
  cursor: pointer;
  padding-bottom: 8px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $accent-color;

    scale: 0;
    transition: scale 250ms $cubic;
  }
}

.footer-list__links:hover::after,
.footer-list__links:focus::after {
  scale: 1;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social {
  @media screen and(max-width: 767px) {
    position: absolute;
    top: 81px;
    right: 32px;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: $text-color;
  fill: $footer-bgcolor;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-list__icon {
  fill: $footer-bgcolor;
}

.social-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet {
    flex-direction: row;
    gap: 16px;
  }

  @include desktop {
    flex-direction: column;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    padding-right: 11px;
  }

  @include desktop {
    padding-right: 138px;
  }
}

.footer-title {
  margin-bottom: 8px;
  @include font(400, 16px, 19px, 1.19);

  color: $text-color;
}

.footer-list__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-list__contact {
  @include font(400, 16px, 19px, 1.19);
  color: $secondary-text-color;

  transition: color 250ms $cubic;

  &:hover,
  &focus {
    color: $hover-icon-color;
  }
}
