.header {
    position: relative;
    background-color: $main-bgcolor;
    box-shadow: $header-boxshadow;
    z-index: 2;
}

.header-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.17;
    text-align: center;
    color: $text-color;

    padding: 24px 0;

    @media screen and (min-width: 768px) {
        padding: 40px 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    @media screen and(max-width: 1199px) {
        display: none;
    }

    @media screen and(min-width: 1200px) {
        display: flex;
        gap: 48px;
    }
}

.header-list__links {
    position: relative;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1;
    color: $text-color;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $accent-color;

        scale: 0;
        transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.header-list__links:hover::after,
.header-list__links:focus::after {
    scale: 1;
}

.menu-button .icon-close {
    display: none;
}

.menu-button.is-open .icon-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-button {
    display: flex;
    min-height: 36px;
    min-width: 54px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: $accent-color;
    stroke: $accent-color;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $hover-icon-color;
        stroke: $hover-icon-color;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 168px;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-image: url(../images/mobilemenubg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobilemenubg-2x.jpg);
    }

    @media screen and(min-width: 768px) {
        background-image: url(../images/tabletmenubg.jpg);
        padding-top: 256px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/tabletmenubg-2x.jpg);
        }
    }

    @media screen and(min-width: 1200px) {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateY(0);
}

.mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.mobile-list__links {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.17;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 8px;

    color: $text-color;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $accent-color;

        scale: 0;
        transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.mobile-list__links:hover::after,
.mobile-list__links:focus::after {
    scale: 1;
}


.shopnow {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: $text-secondary-color;

    padding: 9px 18px;
    background-color: $accent-color;
    border-radius: 16px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: $button-boxshadow;
    }

    @media screen and(max-width: 767px) {
        display: none;
    }
}