.backdrop {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 20, 20, 0.8);
}
.backdrop .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 272px;
  min-height: 367px;
  background-color: $header-bgcolor;
}

@include tablet {
  .modal {
    width: 688px;
    min-height: 500px;
  }
}
@include desktop {
  .modal {
    width: 768px;
    min-height: 527px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.modal__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}
@include tablet {
  .modal__thumb {
    padding-top: 88px;
    padding-bottom: 88px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@include desktop {
  .modal__thumb {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.modal__thumb--big {
  padding-left: 20px;
  padding-right: 20px;
}
@include tablet {
  .modal__thumb--big {
    padding-left: 56px;
    padding-right: 56px;
  }
}
@include desktop {
  .modal__thumb--big {
    padding-left: 88px;
    padding-right: 88px;
  }
}
.modal__thumb--small {
  padding-left: 29px;
  padding-right: 29px;
}
@include tablet {
  .modal__thumb--small {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@include desktop {
  .modal__thumb--small {
    padding-left: 65px;
    padding-right: 65px;
  }
}
.modal__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: $text-color;
}
@include tablet {
  .modal__text {
    font-size: 56px;
    line-height: 1.17;
  }
}
@include desktop {
  .modal__text {
    font-size: 64px;
  }
}
@include desktop {
  .modal__text--small {
    font-size: 56px;
  }
}
.modal__btn {
  width: 173px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $hover-line-color;
  border-color: transparent;
  border-radius: 16px;

  margin-top: 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: right;
  text-transform: uppercase;
  color: #01383a;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
@include tablet {
  .modal__btn {
    width: 306px;
    margin-top: 56px;
    font-size: 32px;
  }
}
