.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 20, 20, 0.8);
  z-index: 2;
  transition: opacity $duration $timing-function,
    visibility $duration $timing-function;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.add-modal,
.order-modal,
.contact-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87%;
  min-height: 367px;
  background-color: $main-bgcolor;
  padding: 100px 0;
  perspective: 1000px;
  opacity: 1;
  @include animation(opacity);

  .backdrop.is-hidden & {
    opacity: 0;
    @include animation(opacity);
  }
}
@include mobile {
  .add-modal,
  .order-modal,
  .contact-modal {
    width: 417px;
  }
}
@include tablet {
  .add-modal,
  .order-modal,
  .contact-modal {
    width: 688px;
    min-height: 500px;
    padding: 88px 0;
  }
}
@include desktop {
  .add-modal,
  .order-modal,
  .contact-modal {
    width: 768px;
    min-height: 527px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 2px solid #86e543;
  border-radius: 50%;
  background-color: $main-bgcolor;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 31px;
  height: 31px;

  cursor: pointer;
  @include animation(box-shadow);
}
.modal__close-btn:hover,
.modal__close-btn:focus {
  box-shadow: $button-boxshadow;
}
.modal__close-icon {
  @include animation(transform);
}
.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  transform: scale(0.7);
}

.modal__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: $text-color;
  padding: 0;

  @include mobile {
    font-size: 30px;
  }
}
@include tablet {
  .modal__text {
    font-size: 56px;
    line-height: 1.17;
    padding: 0 40px;
  }
}
@include desktop {
  .modal__text {
    font-size: 64px;
    padding: 0 80px;
  }
}
.modal__text--small {
  padding: 0;
}
@include desktop {
  .modal__text--small {
    font-size: 56px;
  }
}

.modal__btn {
  width: 173px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $accent-color;
  border-color: transparent;
  border-radius: 16px;

  margin-top: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotateX(0);
  transition: transform $duration $timing-function;

  cursor: pointer;
  @include animation(box-shadow);
}
.modal-btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: right;
  text-transform: uppercase;
  color: $main-bgcolor;
  z-index: 1.2;

  @include tablet {
    font-size: 32px;
  }
}
@include tablet {
  .modal__btn {
    width: 306px;
    margin-top: 56px;
  }
}
.modal__btn:hover,
.modal-btn__text:hover,
.modal__btn:focus,
.modal-btn__text:focus {
  box-shadow: $button-boxshadow;
  animation: flip 1s linear;
}

@keyframes flip {
  50% {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
