<section class="banner overlay">
  <h2 class="visually-hidden">swiper-slider</h2>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <li class="swiper-slide">
            <img src="../../images/gallery/banner-one-1x.jpg" alt="gaming keyboard" width="1280">
            <p class="banner__one">
              One place for<br />
              everything you want
            </p>
          </li>
          <li class="swiper-slide">
            <h1 class="banner__two">
              One place for<br />
              everything you want
            </h1>
          </li>
          <li class="swiper-slide">
            <h1 class="banner__three">
              One place for<br />
              everything you want
            </h1>
          </li>
        </ul>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
  </section>