<section class="banner section">
  <h2 class="visually-hidden">swiper-slider</h2>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <li class="swiper-slide">
            <picture class="banner__img">
              <source srcset="
                /src/images/gallery/banner-one-1x.jpg 1x,
                /src/images/gallery/banner-one-2x.jpg 2x
                " media="(min-width: 1280px)">
              <img src="/src/images/gallery/banner-one-1x.jpg" alt="gaming keyboard" width="1280" height="507">
            </picture>
            <p class="banner__one">One place for<br>everything you want</p>
          </li>
          <li class="swiper-slide">
            <picture class="banner__img">
              <source srcset="
                /src/images/gallery/banner-two-1x.jpg 1x,
                /src/images/gallery/banner-two-2x.jpg 2x
                " media="(min-width: 1280px)">
              <img src="/src/images/gallery/banner-two-1x.jpg" alt="gaming keyboard" width="1280" height="507">
            </picture>
            <p class="banner__two">Best shop for buying gaming products</p>
          </li>
          <li class="swiper-slide">
            <picture class="banner__img">
              <source srcset="
                /src/images/gallery/banner-three-1x.jpg 1x,
                /src/images/gallery/banner-three-2x.jpg 2x
                " media="(min-width: 1280px)">
              <img src="/src/images/gallery/banner-three-1x.jpg" alt="gaming keyboard" width="1280" height="507">
            </picture>
            <p class="banner__three">High-quality products in lowest price</p>
          </li>
        </ul>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
  </section>