.container{
    width: 320px;
}
.contact{
   background-color: #01383A;
   
}
.contact__title{
    margin-right: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #ffff;
}
.contact__img{
    max-width: 100%;
    height: 346px;
}
.contact__text{
    color: #ffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px}

.contact-form__subtitle{
color: #ffff;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.contact-form__contact{
    color:#8D9289;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.contact-form__title{
    color: #86E543;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px; 
}
/*btn*/
.contact-form__btn{
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
 color: #ffff;
 background-color: transparent;
 width: 173px;
    height: 51px;
}
.modal-contact__btn-close{
    border-radius: 50%;
    border: 1.5px solid #86E543;
    width: 31.25px;
    height: 31.25px;
    background-color: transparent;
}
.modal-contact__btn-ok{
    color:#01383A;
    background: #86E543;
    border-radius: 16px;
    width: 173px;
    height: 51px;
}